html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
header{
    background-color: #2b4a2d;
    color: #FFF;
    padding: 5px;
}

footer{
    background-color: #2b4a2d;
    color: #FFF;
    padding: 5px;
}