html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
header{
    background-color: #2b4a2d;
    color: #FFF;
    padding: 5px;
}
.campSmitty{

    padding: 1000px;
    max-width: 3000px;
    max-height: 300px;
    margin-left: 100px;
    margin-top: 30px;ss
}
/*.icon{
    border: 1px solid #000;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    
}*/
.camping{
    border: 1px solid #000;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    margin-left: 100px;
    margin-top: 30px;
}
footer{
    background-color: #2b4a2d;
    color: #FFF;
    padding: 5px;
    margin-bottom: 10px;
}